__pycache__/
*.py[cod]
*$py.class

/data
/venv*
/.venv*

/kiwi_wp_bert/data
/kiwi_wp_bert/logs/*
!/kiwi_wp_bert/logs/.gitkeep
/kiwi_wp_bert/model/*
!/kiwi_wp_bert/model/.gitkeep
/kiwi_wp_bert/training_logs/*
!/kiwi_wp_bert/training_logs/.gitkeep
/kiwi_wp_bert/training_output/*
!/kiwi_wp_bert/training_output/.gitkeep

/wp_reformer/data
/wp_reformer/checkpoints/*
!/wp_reformer/checkpoints/.gitkeep
/wp_reformer/logs/*
!/wp_reformer/logs/.gitkeep
/wp_reformer/tb_logs/*
!/wp_reformer/tb_logs/.gitkeep
